@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 33% 97%;
    --foreground: 224 7.1% 4.1%;
    --card: 210 33% 97%;
    --card-foreground: 224 7.1% 4.1%;
    --popover: 210 33% 97%;
    --popover-foreground: 224 7.1% 4.1%;
    --primary: 207 90% 61%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 25% 96.5%;
    --secondary-foreground: 224 7.1% 4.1%;
    --muted: 210 25% 96.5%;
    --muted-foreground: 215 5.4% 45.1%;
    --accent: 174 63% 40%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 207 90% 61%;
    --chart-1: 207 90% 61%;
    --chart-2: 174 63% 40%;
    --chart-3: 27 87% 67%;
    --chart-4: 12 76% 61%;
    --chart-5: 43 74% 66%;
    --radius: 0.5rem;
    --sidebar-background: 222 47.4% 11.2%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 207 90% 61%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 207 90% 61%;
  }
  .dark {
    --background: 222 47.4% 11.2%;
    --foreground: 210 40% 98%;
    --card: 222 47.4% 11.2%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47.4% 11.2%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 90% 61%;
    --primary-foreground: 210 20% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 5.4% 45.1%;
    --accent: 174 63% 40%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 207 90% 61%;
    --chart-1: 207 90% 61%;
    --chart-2: 174 63% 40%;
    --chart-3: 27 87% 67%;
    --chart-4: 12 76% 61%;
    --chart-5: 43 74% 66%;
    --sidebar-background: 222 47.4% 11.2%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 207 90% 61%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 207 90% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
