@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --accent: 51 98% 51%;
    --accent-foreground: 222.2 47.4% 11.2%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}
